<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <title><%= gettext('Mozilla Persona') %></title>
  </head>
<body>
<p><%= gettext('Hi there') %></p>

<%= gettext('<p>Buy <a href="/buy?prod=blue&tyep=ticket">Blue Tickets</a> Now!</p>') %>
<p><%= format(gettext('Buy <a href="%s">Blue Tickets</a> Now!'), ['/buy?prod=blue&tyep=ticket']) %></p>
<p><%= format(gettext('Buy <a href="%(url)s">Blue Tickets</a> Now!'), {url: '/buy?prod=blue&tyep=ticket'}) %></p>

<p><%= format(gettext('Welcome back, %(user_name)s'), {user_name: user.name}) %></p>
</body>
</html>
